@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200;
  }

  .container {
    max-width: 1080px;
    stroke-width: 1px;
    stroke-opacity: 1;
  }
}
