@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

@layer base {
  body {
    @apply bg-slate-200;
  }

  .container {
    max-width: 1080px;
    background: #adb870;
    margin: 32px auto;
  }
}
