.title {
  @apply text-2xl font-semibold mb-2 inline-block;
}

.daily-item {
  @apply rounded-md flex items-center cursor-pointer text-sm;
  background: #ffffff;
  height: 52px;
  margin: 8px 0;
  padding: 5px 20px;
}

.icon-small {
  width: 40px;
  margin-right: 12px;
}

.day {
  color: rgb(41, 91, 165);
  flex: 1 1;
  font-weight: 500;
}
.description {
  color: rgb(183, 125, 23);
  flex: 1 1;
  text-align: right;
  margin-right: 12px;
}

.min-max {
  color: rgba(0, 0, 0, 0.592);
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: rgb(58, 32, 154);
}

.daily-details-grid-item label:last-child {
  color: #212121;
}
