.title {
  @apply text-2xl font-semibold;
}

.daily-item {
  @apply rounded-2xl flex items-center cursor-pointer text-sm;
  background: #ffffff;
  height: 40px;
  margin: 5px 0;
  padding: 5px 20px;
}

.icon-small {
  width: 40px;
  margin-right: 12px;
}

.day {
  color: rgb(41, 91, 165);
  flex: 1 1;
}
.description {
  color: rgb(111, 106, 64);
  flex: 1 1;
  text-align: right;
  margin-right: 12px;
}
