.weather {
  @apply my-8 mx-auto w-[400px] rounded-md shadow-lg p-6;
  background: rgb(54, 69, 100);
  background: linear-gradient(
    76deg,
    rgba(54, 69, 100, 1) 0%,
    rgba(142, 203, 255, 1) 100%
  );
}

.top {
  @apply flex items-center justify-between text-white;
}

.weather-city {
  @apply font-bold text-lg;
}

.weather-description {
  @apply leading-5;
}

.weather-icon {
  @apply shadow-sm;
}

.bottom {
  @extend .top;
}

.weather-temperature {
  @apply font-semibold text-6xl w-auto;
}

.details {
  width: 100%;
}
