.weather {
  @apply my-8 mx-auto w-[400px] rounded-md shadow-lg p-6;
  background-color: #8ec5fc;
  background-image: linear-gradient(30deg, #77b6f5 0%, #dbc0f4 100%);
}

.top {
  @apply flex items-center justify-between text-white;
}

.weather-city {
  @apply font-bold text-lg;
}

.weather-description {
  @apply leading-5;
}

.weather-icon {
  @apply shadow-sm;
}

.bottom {
  @extend .top;
  @apply mt-4;
}

.weather-description {
  text-transform: capitalize;
}

.weather-temperature {
  @apply font-semibold text-6xl w-auto;
}

.weather-details {
  @apply w-full pl-[64px];
}

.parameter-row {
  @apply flex justify-between;
}

.parameter-label {
  @apply font-normal text-left text-[14px];
}

.parameter-value {
  @apply font-semibold text-right text-[14px];
}
